SECRET_KEY=django-insecure-put-your-own-key-here
DEBUG=True

DATABASE_NAME=django_blog_db
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_postgres_password
DATABASE_HOST=your_host
DATABASE_PORT=your_port
DATABASE_SCHEMA=your_own_schema
OPENAI_API_KEY=your-open-api-key